<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944635405729-rbhgc54amjd5b5ec7ufdf90njj8e1uo2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944635405729-rbhgc54amjd5b5ec7ufdf90njj8e1uo2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>944635405729-1vd98359a8tbkkop52dp97ujfl0lr86c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtuUSER5oCnxnMuffQQusHbQn7Dw8Hgko</string>
	<key>GCM_SENDER_ID</key>
	<string>944635405729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alpha.vibra</string>
	<key>PROJECT_ID</key>
	<string>vibra-beb69</string>
	<key>STORAGE_BUCKET</key>
	<string>vibra-beb69.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944635405729:ios:3dd5e1b59fe0f79e0e17e0</string>
</dict>
</plist>